<%- include('../includes/head.ejs') %>
    </head>
  <body>
      <%- include('../includes/navigation.ejs') %>
      <% if (pokedexName ) { %>
              <section class="section">
                <div class="container has-text-centered">
                    <h1 class="title is-size-3"><%= pokedexName %></h1>
                </div>
               
              </section>
        <% }  %>
    <section class="section">
        <% if (pokedex.length > 0) { %>
          <div class="columns is-multiline">
              <% for (let pokemon of pokedex) { %>
              <div class="column is-one-quarter">
                  <div class="card is-flex">
                      <div class="card-image">
                          <figure class="image is-4by3">
                            <img src="<%= pokemon.spriteFront %>" alt="Placeholder image">
                          </figure>
                        </div>
                      <div class="card-content is-flex">
                        <div class="media">
                          <div class="media-content">
                            <p class="title is-4"><%= pokemon.name %></p>
                            <p class="title is-4">#<%= pokemon.id %></p>
                            <p><a href="/pokemon/<%= pokemon.name %>" class="is-link is-primary">Learn More</a></p>
                          </div>
                        </div>
                      </div>
                    </div>

              </div>
                  <% } %>
                  </div>
       <%- include('../includes/pagination.ejs') %>     
          <% } else { %>
              <h1>No Pokemon Found!</h1>
              <% } %>
    </section>

    <%- include('../includes/end.ejs') %>