
<section class="section">
    <% if (items.length > 0) { %>
      <div class="columns is-multiline">
        <% for (let item of items) { %>
            <div class="column is-one-fifth">
               <a href="/<%= itemName %>/<%= item.name %>" class="button"><%= item.name %></a>
            </div>
                <% } %>
              </div>             
      <% } else { %>
          <h1>No <%= title %> Found!</h1>
          <% } %> 
</section>
<%- include('../includes/pagination.ejs') %>    