<nav class="navbar is-danger" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://pokeapi.co/" target="_blank">
      PokeAPI
    </a>
    <button class="navbar-button navbar-burger burger">
      <div class="btn--line"></div>
      <div class="btn--line"></div>
      <div class="btn--line"></div>
    </button>
   
      
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item  <%= path === '/' ? 'is-active' : '' %>" href="/">
        Pokemon
      </a>
      <a
        class="navbar-item <%= path === '/berries' ? 'is-active' : '' %>"
        href="/berries"
      >
        Berries
      </a>
      <a
        class="navbar-item  <%= path === '/moves' ? 'is-active' : '' %>"
        href="/moves"
      >
        Moves
      </a>
      <a
        class="navbar-item  <%= path === '/items' ? 'is-active' : '' %>"
        href="/items"
      >
        Items
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link"> More </a>
        <div class="navbar-dropdown">
            <a
            class="navbar-item  <%= path === '/generations' ? 'is-active' : '' %>"
            href="/generations"
          >
            Generations
          </a>
          <a
            class="navbar-item  <%= path === '/pal-park-areas' ? 'is-active' : '' %>"
            href="/pal-park-areas"
          >
            Pal Park Areas
          </a>
          <a
            class="navbar-item  <%= path === '/regions' ? 'is-active' : '' %>"
            href="/regions"
          >
            Regions
          </a>
          <a
            class="navbar-item  <%= path === '/pokedexes' ? 'is-active' : '' %>"
            href="/pokedexes"
          >
            Pokedexes
          </a>
          <a
            class="navbar-item  <%= path === '/versions' ? 'is-active' : '' %>"
            href="/versions"
          >
            Versions
          </a>
          <a
            class="navbar-item  <%= path === '/version-groups' ? 'is-active' : '' %>"
            href="/version-groups"
          >
            Verson Groups
          </a>
          <a
          class="navbar-item  <%= path === '/types' ? 'is-active' : '' %>"
          href="/types"
        >
          Types
        </a>
          <hr class="navbar-divider">
          <a
            class="navbar-item  <%= path === '/search' ? 'is-active' : '' %>"
            href="/search"
          >
            Search
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
