<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <section class="section">
        <div class="container has-text-centered">
          <h1 class="title is-size-4"><%= palParkAreaName %></h1>
        </div>
    </section>
    <%- include('../includes/pokemonList.ejs') %>
<%- include('../includes/end.ejs') %>
