<%- include('../includes/head.ejs') %>
    </head>
  
  <body>
      <%- include('../includes/navigation.ejs') %>
    <section class="section">
        <% if (palParkAreas.length > 0) { %>
          <div class="columns is-multiline">
              <% for (let palParkArea of palParkAreas) { %>
              <div class="column is-one-fifth">
                    <a href="/pal-park-area/<%= palParkArea.name %>" class="button"><%= palParkArea.name %></a>
              </div>
                  <% } %>
                  </div>
                  <%- include('../includes/pagination.ejs') %>           
          <% } else { %>
              <h1>No Pal Park Areas Found!</h1>
              <% } %>
    </section>

    <%- include('../includes/end.ejs') %>