<%- include('includes/head.ejs') %>
    </head>
  
  <body>
      <%- include('includes/navigation.ejs') %>
    <section class="section">
        <% if (berries.length > 0) { %>
          <div class="columns is-multiline">
              <% for (let berry of berries) { %>
              <div class="column is-one-quarter">
                 <a href="/berry/<%= berry.name %>" class="button"><%= berry.name %></a>
              </div>
                  <% } %>
                  </div>
                    <div class="field is-grouped ">
                        <% if (previous) { %>
                          <div class="control ">
                              <form method="POST" action="/berries" id="previous-form">
                                <input type="text" hidden value="<%= previous %></" name="previousPage">
                                <button type="button"class="button is-danger" id="previous-btn">Previous</button>
                              </form>
                          </div>
                          
                          <% }  %>
                        <% if (next) { %>
                          <div class="control">
                              <form method="POST" action="/berries" id="next-form">
                                <input type="text" hidden value="<%= next %></" name="nextPage">
                                <button class="button is-danger" type="button" id="next-btn">Next</button>
                              </form>
                          </div>                         
                          <% }  %>
                          </div>                
          <% } else { %>
              <h1>No Berries Found!</h1>
              <% } %>
    </section>

    <%- include('includes/end.ejs') %>