<%- include('../includes/head.ejs') %>
    </head>
  
  <body>
      <%- include('../includes/navigation.ejs') %>
    <section class="section">
        <% if (generations.length > 0) { %>
          <div class="columns is-multiline">
            <% for (let generation of generations) { %>
                <div class="column is-one-quarter">
                   <a href="/generation/<%= generation.name %>" class="button"><%= generation.name %></a>
                </div>
                    <% } %>
                  </div>
                     <%- include('../includes/pagination.ejs') %>                 
          <% } else { %>
              <h1>No Berries Found!</h1>
              <% } %>
    </section>

    <%- include('../includes/end.ejs') %>