<%- include('../includes/head.ejs') %>
    </head>
  
  <body>
      <%- include('../includes/navigation.ejs') %>
    <section class="section">
        <div class="container has-text-centered">
            <h2 class="title is-size-3">Version Groups</h2>
        </div>
    </section>
    <section class="section">
            <% if (versionGroups.length > 0) { %>
                <div class="columns is-multiline">
                  <% for (let versionGroup of versionGroups) { %>
                      <div class="column is-one-quarter">
                         <a href="/version-group/<%= versionGroup.name %>" class="button"><%= versionGroup.name %></a>
                      </div>
                          <% } %>
                        </div>
                        <%- include('../includes/pagination.ejs') %>                 
                <% } else { %>
                    <h1>No Version Groups Found!</h1>
                    <% } %>
    </section>
    <%- include('../includes/end.ejs') %>