<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <section class="section">
            <div class="card">
                    <div class="card-content">
                      <div class="media">
                        <div class="media-content">
                          <p class="title is-size-5"><%= move.name %></p>
                          <p class="title is-size-6">Effect: <%= move.effect_entries[0].effect %></p>
                          <p class="title is-size-6">Short Effect: <%=  move.effect_entries[0].short_effect %></p>
                               
                  <% for (let stat of move.stats) { %>
                    <% if (stat) { %>
                        <p class="subtitle is-size-6"><%= stat.name %>: <%= stat.value %></p>    
                        <% }  %>
                   
                    <% }  %> 
                        </div>
                        
                      </div>
                    </div>
    </section>
    

        
   

<%- include('../includes/end.ejs') %>





      