<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <section class="section">
        <div class="card">
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                    <p class="title is-size-5">Region: <%= region.name %></p>
                    <p class="subtitle is-size-6">#<%= region.id %></p>
                    <p class="title is-size-5 ">Pokedexes:  <% for (let pokedex of region.pokedexes) { %>
                      <a class="subtitle is-size-6" href="/pokedex/<%= pokedex.name %>" ><%= pokedex.name %></a> 
                  <% }  %> </p>     
                      <p class="title is-size-5 ">Versions:  <% for (let version of region.version_groups) { %>
                        <a class="subtitle is-size-6"><%= version.name %></a> 
                    <% }  %> </p>
                    <p class="title is-size-5 ">Locations:  <% for (let location of region.locations) { %>
                      <a class="subtitle is-size-6"><%= location.name %></a> 
                  <% }  %> </p>        
                  
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
    

        
   

<%- include('../includes/end.ejs') %>
